<!DOCTYPE html>
<html>
  <head>
    <title>Contact Card</title>
  </head>

  <body>

    
    <form action="{{action}}" method="post">

      {% for n in name %}

        {% for k in keys %}
   
      <p>{{k}}

	{% if k != "INCOMING" %}
        <input type="text" 
        {% endif %}

	{% if k == "INCOMING" %}
        <input type="checkbox" 
        {% endif %}
	       
	       name={{k}} value="{{n[k]}}"></input></p>
      
	{% endfor %}
	
      <br><br>
      <input type="submit" value="Save/Update"></input>	
      {% endfor %}
            
    </form>

    <br><br>
    <a href='/new'>Make New Contact</a>

        <br><br>
    <a href='/contacts.html'>Back to List</a>
    
  </body>
</html>
