<!DOCTYPE html>
<html>
  <head>
    <title>Summary Across Connections</title>
  </head>

  <body>


<br><br>



  {% for l, value in summ.items() recursive %}
<h2>{{l}}</h2>
<ol>
  {% if l %}


    {% if value %}

    {% for i, lst in value.items() recursive %}

  <li> <b>{{i}}</b>
    <ul>
      <li> last contact: {{lst[0]}}
	<li> days since last contact: {{lst[1]}}
    <li>  needs contact: <em> {{lst[2]}}  </em>
      </ul>
    {% endfor %}

    {% endif %}

  {% endif %}
</ol>



    {% endfor %}



  </body>
</html>
